*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 99;
    background-color: #fff;
}
.logo{
    font-size: 2em;
    user-select: none;
    text-align: center;
}
.links{
    position: absolute;
    right: 25vh;
}
.links a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.links a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-bottom: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.links a:hover::after{
    transform: scaleX(1);
}
.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500; 
    transition: all 0.3s ease 0s;
}
.navbar .btnLogin-popup:hover{
    background-color: #f6a849;
}
.navbar .toggle_btn{
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    position: fixed;
    right: 10px;
    top: 85px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.nav_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_menu a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.nav_menu a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-bottom: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.nav_menu a:hover::after{
    transform: scaleX(1);
}
.dropdown_menu .btnLogin-popup{
    width: 100%;
    padding: 9px 25px;
    position: absolute;
    left: 0;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-weight: 500; 
    transition: all 0.3s ease 0s;
}
.dropdown_menu .btnLogin-popup:hover{
    background-color: #f6a849;
}

@media (max-width: 992px){
    .links,
    .navbar .btnLogin-popup{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
}
@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

.headings{
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    margin-top: 5%;
}

#Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Home img{
    width: 800px;
    margin-top: 20vh;
}
#Home .btnOrder-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 3.5px solid black;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500; 
    margin-left: 20px;
    transition: .5s;
}
#Home .btnOrder-popup:hover{
    background: #f6a849;
    color: black
}
@media screen and (max-width: 480px){
    #Home img{
        width: 100%;
        height: auto;
        margin-bottom: 60px;
    }
}

#Services{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .card{
    position: relative;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    background: #f6a849;
    transform: translateY(0);
}
.container .card .face.face1 .content img{
    width: 280px;
    height: 150px;
}
.container .card .face.face1 .content h3{
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5em;
}
.container .card:hover .face.face1 .content img{
    width: 280px;
    height: 150px;
}
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.container .btnOrder-popup{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 3.5px solid black;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500; 
    transition: .5s;
}
.container .btnOrder-popup:hover{
    background: #f6a849;
    color: black
}
@media screen and (max-width: 480px) {
    .container{
        width: 1000px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#About{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content img{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.text p{
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
@media screen and (max-width: 1180px){
    #About{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 480px){
    #About .content img{
        margin-bottom: 60px;
    }
    .text h2{
        font-size: 40px;
        margin-bottom: 25px;
    }
}

#Contact{
    display: flex;
    flex-direction: column;
    padding: 50;
    margin-top: 20px;
}
footer {
    position: static;
    bottom: 0;
}
.footer {
    background-color: #FFE0C2;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 70px;
    margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}
@media (max-height: 480px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}
.footer .footer-left {
    width: 30%;
}
.footer h3 {
    color: black;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}
.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}
.footer .footer-left .credit-cards {
    width: 350%;
}
.footer .footer-copyright {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}
.footer .footer-center {
    width: 30%;
}
.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer .footer-center i.fa-clock-o {
    line-height: 38px;
}
.footer .footer-center p {
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin: 0px;
}
.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer .footer-right {
    width: 30%;
}
.footer .footer-about {
    line-height: 20px;
    color: black;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}
.footer .footer-about span {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .footer-media {
    margin-top: 25px;
}
.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 20%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer .footer-media a:hover {
    background-color: #f6a849;
}
@media (max-width: 480px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
    .footer .footer-center i {
        margin-left: 0px;
    }
}
